@model IEnumerable<FoodOrderingSystem.Models.tblBanner>
@using FoodOrderingSystem.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section banner{
    <div class="home-slider owl-carousel img" style="background-image: url(images/bg_1.jpg);">
        @foreach (var item in Model)
        {
            <div class="slider-item">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text align-items-center" data-scrollax-parent="true">
                        <div class="col-md-6 col-sm-12 ftco-animate">
                            <span class="subheading">@item.Heading</span>
                            <h1 class="mb-4">@item.SubHeading</h1>
                            <p class="mb-4 mb-md-5">@item.Description</p>
                            <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
                        </div>
                        <div class="col-md-6 ftco-animate">
                            <img src="images/@item.Photo" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@Html.Action("Item")


